@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #302c98;
$secondary: #eb2057;
$black: #04091b;

html,
body {
  font-size: 16px;
}

html {
  &.dark {
    background-color: $black;
    color: #ffff;
  }

  &.light {
    background-color: #f7fafc;
  }
}

a {
  &.menu-item {
    &.router-link-active,
    &.router-link-exact-active {
      @media (max-width: 767px) {
        color: #ffff;
        background-color: $primary;
      }
    }
  }
}

.navbar {
  a {
    &.router-link-active,
    &.router-link-exact-active {
      color: $secondary;
    }
  }
}

.hero {
  background: url("@/assets/img/home-bg.png") center no-repeat;
  background-size: contain;
  background-position-x: 2rem;
  background-position-y: -6rem;
  padding-top: 64px;
  min-height: 100vh;

  @media (min-width: 768px) {
    background: none;
  }

  &-particle {
    &-yellow {
      width: 30px;
      height: 30px;
      left: 0;
      top: 10%;
      position: absolute;
      z-index: -1;

      @media (min-width: 1025px) {
        position: absolute;
        display: block;
        width: 44px;
        height: 44px;
        left: 35%;
        top: 8%;
      }
    }

    &-blue {
      width: 30px;
      height: 30px;
      bottom: 57%;
      right: 10%;
      position: absolute;
      z-index: -1;

      @media (min-width: 1025px) {
        position: absolute;
        display: block;
        width: 44px;
        height: 44px;
        left: 44%;
        top: 48%;
      }
    }

    &-red {
      width: 30px;
      height: 30px;
      bottom: 63%;
      left: 10%;
      position: absolute;
      z-index: -1;

      @media (min-width: 1025px) {
        position: absolute;
        display: block;
        width: 44px;
        height: 44px;
        left: 25%;
        bottom: 15%;
      }
    }
  }
}

.caf-cta {
  background-image: linear-gradient(180deg, transparent 40%, #000 0, transparent 0, $primary 0);
}

.page {
  &-particle {
    &-yellow {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 2rem;
      left: 3rem;

      @media (min-width: 1025px) {
        width: 44px;
        height: 44px;
        left: 24rem;
      }
    }
    &-red {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15rem;
      left: 1rem;
      z-index: -1;

      @media (min-width: 1025px) {
        width: 44px;
        height: 44px;
        top: 338px;
        left: 15rem;
      }
    }
    &-blue {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 17rem;
      right: 8rem;
      z-index: -1;

      @media (min-width: 1025px) {
        width: 44px;
        height: 44px;
        top: 44rem;
        left: 36rem;
      }
    }
  }

  &-contact {
    &-particle {
      &-yellow {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 2rem;
        left: 3rem;
        z-index: -1;

        @media (min-width: 1025px) {
          width: 44px;
          height: 44px;
          left: 24rem;
        }
      }

      &-blue {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 22rem;
        right: 8rem;
        z-index: -1;

        @media (min-width: 1025px) {
          width: 44px;
          height: 44px;
          top: 44rem;
          right: 20rem;
        }
      }

      &-red {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20rem;
        left: 1rem;
        z-index: -1;

        @media (min-width: 1025px) {
          width: 44px;
          height: 44px;
          top: 338px;
          left: 15rem;
        }
      }
    }
  }
}

.dp {
  &__input {
    background-color: #f9fafb !important;
  }
}

.dark {
  .dp {
    &__input {
      background-color: #121a29 !important;
      border-color: #39404c !important;
    }
  }
}

.dp__theme_dark {
  --dp-background-color: #111a29 !important;
  --dp-text-color: #fff;
  --dp-hover-color: #484848;
  --dp-hover-text-color: #fff;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #005cb2;
  --dp-primary-disabled-color: #61a8ea;
  --dp-primary-text-color: #fff;
  --dp-secondary-color: #a9a9a9;
  --dp-border-color: #2d2d2d;
  --dp-menu-border-color: #2d2d2d;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #737373;
  --dp-disabled-color-text: #d0d0d0;
  --dp-scroll-bar-background: #111a29 !important;
  --dp-scroll-bar-color: #484848;
  --dp-success-color: #00701a;
  --dp-success-color-disabled: #428f59;
  --dp-icon-color: #959595;
  --dp-danger-color: #e53935;
  --dp-marker-color: #e53935;
  --dp-tooltip-color: #3e3e3e;
  --dp-highlight-color: rgb(0 92 178 / 20%);
}
